h1{
    color: rgb(248, 61, 4); counter-reset: calc(1);
    background: black;
    outline-style: double;
    outline-width: 10px;
    outline-color: darkorange;
}
html{
    background-color: rgb(211, 174, 12);

}
h4{

    color: indigo;
    content: icon;
    background-color: lime; max-width: 15%;
}